
*, *::before, *::after {
box-sizing: inherit;
margin: 0;
padding: 0;
}
html,body{
    width: 100%;
    height: 100vh;
    background: rgb(10, 10, 10);
}
.container{
    width: 100%;
    color: white;
    position: absolute;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    text-align: center;
    font-family: 'Manjari', sans-serif;    
}
.welcome-string-box p{
    font-size: 80px;
    text-shadow: 1px 2px 3px rgba(117, 117, 117, 0.952);
    padding: 60px;
}
.images-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    max-width: 1200px;
    height: 270px;
    justify-items: center;
    align-items: center;
    padding: 30px;

}
.button-box{
    height:  100px;
}
.images-container img{
    cursor: pointer;
}
.active-item{
    border: 2px solid   white;
    box-shadow: 2px 2px 5px rgba(250, 245, 245, 0.952);
}
button{
    font-size: 28px;
    background :rgb(255, 238, 0);
    border: none;
    text-decoration: none;
    user-select: none;
    outline: none;
    padding: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    
    
}
button:hover{
    border: 1px solid white;
    
}
.information-box,
.information-second-box{
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 32px;
    padding-top: 70px;
}
.information-second-box{
    justify-items: center;
    justify-content:center;
    display: grid;
    width: 100%;
    
}
.information-box{ 
    display: grid;
    width: 100%;
}


.information-box p,
.information-second-box
p{
    padding: 15px;
    
}
.second-container{
    display:grid;
    height: 270px;
    grid-template-columns: repeat(2,1fr);
    max-width: 1000px;
    width: 100%;
}
